<div class="form-container password-form-card">
  <h2 class="form-header">Définir le mot de passe pour {{ clientName || 'le client' }}</h2>

  <form [formGroup]="passwordForm" (ngSubmit)="setPassword()" novalidate>
    <div class="form-grid">
      <!-- Nouveau mot de passe -->
      <div class="form-field form-field-full-width">
        <label for="password">Nouveau mot de passe <span class="required-asterisk">*</span></label>
        <input type="password" id="password" formControlName="password" placeholder="Entrez le nouveau mot de passe"
               [ngClass]="{ 'input-error': password?.invalid && (password?.dirty || password?.touched) }">
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-message">
          <div *ngIf="password?.hasError('required')">Le mot de passe est requis.</div>
          <div *ngIf="password?.hasError('minlength')">Le mot de passe doit contenir au moins 8 caractères.</div>
        </div>
      </div>
    </div>

    <!-- Affichage des erreurs générales -->
    <div *ngIf="errorMessage && !isLoading" class="error-message general-error-display">
      {{ errorMessage }}
    </div>

    <!-- Affichage du message de succès -->
    <div *ngIf="successMessage && !isLoading" class="success-message general-success-display">
      {{ successMessage }}
    </div>

    <div class="form-actions">
      <button type="button" class="btn btn-cancel" (click)="cancel()" [disabled]="isLoading">
        Annuler
      </button>
      <button type="submit" class="btn btn-submit" [disabled]="passwordForm.invalid || isLoading">
        <span *ngIf="!isLoading">Définir le mot de passe</span>
        <span *ngIf="isLoading">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Enregistrement...
        </span>
      </button>
    </div>
  </form>
</div>